section{
    height: 90vh;
    width: 100px;
    display:flex;
    justify-content: space-between;

    align-items: center;
    margin-top: 50px;
    gap: 10px;
    
}




div{
    border-style: groove;
    height: 430px;
    width: 280px;
    background-color: lightgray;
}

img{
    height: 250px;
    width: 230px;
    border-style: inherit;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

section strong{
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
}
h1{
    text-align: center;
}