section{
    background-image: url("./download1.jpg");
    height: 65vh;
    width: 550px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;

    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 50px;
}
section>h1{
       font-size: 20px; 
    }